<!-- Content area start -->
<div class="contact-bg overview-bgi">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Form content box start -->
                <div class="form-content-box">
                    <!-- details -->
                    <div class="details">
                        <h3>Resend confirmation instructions</h3>
                        <%= devise_error_messages! %>
                        <!-- Form start -->
                        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                          <div class="form-group">
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: :email, class: "input-text" %>
                          </div>
                        <div class="mb-0">
                            <button type="submit" class="btn-md btn-theme btn-block">submit</button>
                        </div>
                    <% end %>
                    </div>
                    <!-- Footer -->
                    <div class="footer">
                        <%= render "devise/shared/links" %>
                    </div>
                </div>
                <!-- Form content box end -->
            </div>
        </div>
    </div>
</div>
