<div class="row">
    <% @rooms.each do |room| %>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="hotel-box-list-2 clearfix">
            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 col-pad">
                <%= image_tag(room.picture_link, alt: "img-9", class: "img-responsive")%>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 detail">
                <div class="heading">
                    <div class="title">
                    <h4><%= room.room_type %></h4>
                    </div>
                </div>
                <p><%= room.price %> VND/day</p>
            </div>
        </div>
    </div>
    <% end %>
</div>
