<!-- Top header start -->
<header class="top-header top-header-3 hidden-xs" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
                <div class="list-inline">
                    <a href="tel:1-8X0-666-8X88"><i class="fa fa-phone"></i>0942-298-558</a>
                    <a href="tel:info@themevessel.com"><i class="fa fa-envelope"></i>findingnemo@gmail.com</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
                <ul class="social-list clearfix pull-right">
                    <li>
                        <a href="#" class="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="google">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                    <% if user_signed_in? %>
                        <%= link_to current_user.nick_name, user_path(current_user) %>
                        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
                    <% else %>
                        <%= link_to 'Login', new_user_session_path %>
                    <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Top header end -->
<!-- Main header start -->
<header class="main-header main-header-4">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">
                    <p>Finding Nemo</p>
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse" role="navigation" aria-expanded="true" id="app-navigation">
                <ul class="nav navbar-nav">
                    <li class="dropdown active">
                        <a href="/hotels" tabindex="0" aria-expanded="false">
                             Home 
                        </a>
                    </li>
                    <!--<li class="dropdown">-->
                    <!--    <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">-->
                    <!--        Rating<span class="caret"></span>-->
                    <!--    </a>-->
                    <!--    <ul class="dropdown-menu">-->
                    <!--        <li><a href="rooms-col-1.html">1 Star</a></li>-->
                    <!--        <li><a href="rooms-col-2.html">2 Star</a></li>-->
                    <!--        <li><a href="rooms-col-3.html">3 Star</a></li>-->
                    <!--        <li><a href="rooms-col-4.html">4 Star</a></li>-->
                    <!--        <li><a href="rooms-details.html">Hotels Details</a></li>-->
                    <!--    </ul>-->
                    <!--</li>-->
                    <!--<li class="dropdown">-->
                    <!--    <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">-->
                    <!--        Contact<span class="caret"></span>-->
                    <!--    </a>-->
                    <!--    <ul class="dropdown-menu">-->
                    <!--        <li><a href="contact.html">Contact</a></li>-->
                    <!--        <li><a href="contact-2.html">Contact 2</a></li>-->
                    <!--    </ul>-->
                    <!--</li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
                        <li>
                            <% if user_signed_in? %>
                            <% else %>
                                <%= link_to "Create Account",
                                new_user_registration_path,
                                class: "btn-navbar btn btn-sm btn-theme-sm-outline btn-round" %>
                            <% end %>
                        </li>
                    <li>
                        <a id="header-search-btn" class="btn-navbar search-icon"><i class="fa fa-search"></i></a>
                    </li>
                </ul>
            </div>

            <!-- /.navbar-collapse -->
            <!-- /.container -->
        </nav>

        <div class="header-search animated fadeInDown">
            <form class="form-inline">
                <input type="text" class="form-control" id="searchKey" placeholder="Search...">
                <div class="search-btns">
                    <button type="submit" class="btn btn-default">Search</button>
                </div>
            </form>
        </div>
    </div>
</header>
